html, body {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top:0;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  background: #000;
}

.menu {
  background: #202024 url('https://foomandoonian.files.wordpress.com/2011/02/black-wallpaper-png-scaled-1000.jpg') repeat left top;
  left: -285px;  //start off screen
  height: 100%;
  position: fixed;
  width: 285px;
}

.jumbotron { 
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: block;
  background-image: url(http://i.imgur.com/wvbAhwy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  position: inline;
  color: #fff;
  font-size: 64px;
  text-align: center;
}

.tagline {
  position: block;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  width: 30px;
  position: inline;
}

.icon-menu i {
  margin-right: 5px;
}

.buttons {
  text-align: center;
}

.buttons a:hover{
  position: relative;
  left: 2px;
  top: 2px;
}

.homecontent {
  padding-top: 15%;
}

.project {
  background-color: #fff;
  margin: 10px 5% 0 5%;
  min-width: 350px;
  padding: 5px;
  border-radius: 5px;
}

.projecttop { 
  height: 150px;
  padding: 15px;
}

.projecttitle {
  font-size: 36px;
  text-align: center;
}

.projectlink {
  text-align: center;
}

.projectimage {
  float: right;
  position: inline;
  clear: both;
}

.projectimage img {
  max-width: 250px;
  max-height: 150px;
}


